 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav row">
      <li class="active col-md-3"><a href="#">Home</a></li>
      <!--<li class="col-md-6"><a [routerLink]="['/contact-detail']">Contact Detail</a></li>-->
      <!--<li class="col-md-6"><a href="#">Contact Detail</a></li>-->
    </ul>
  </div>
</nav>
 <table  *ngIf="user" class="table table-bordered">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{user.name}}</td>
    </tr>  
    <tr>
      <td>Gender</td>
      <td>{{user.gender}}</td>
      </tr> 
        <tr>
      <td>Email</td>
      <td>{{user.email}}</td>
      </tr> 
      <tr>
        <td>D.O.B</td>
        <td>{{user.dateOfBirth}}</td>
      </tr>
       <tr>
         <td>Amount</td>
        <td>{{user.amount}}</td>
        </tr>
      </tbody>
  </table>
