  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav row">
      <!--<li class="active col-md-3"><a href="#">Home</a></li>
      <li class="col-md-6"><a [routerLink]="['/contact-detail']" [queryParams]="{debug: true}">Contact Detail</a></li>-->
      <!--<li class="col-md-6"><a href="#">Contact Detail</a></li>-->
    </ul>
  </div>
</nav>

<div class="col-md-offset-2" style="margin-right:250px;">
      <h2 *ngIf="!status">Add Contact</h2>
      <h2 *ngIf="status">Update giContact</h2>
  <div>
    <form [formGroup]="userForm">
      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label"></label>
        <div>
          <div class="input-group">
            <!--<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>-->
            <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="name" formControlName="name" />
            <div style="color:red;" class="errorMsg" *ngIf="userForm.get('name').dirty && userForm.get('name').hasError('required')">
              This is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">Gender</label>
        <div>
          <div class="input-group">
            <select class="form-control" [(ngModel)]="gender" id="gameId" formControlName="gender">
                        <option value="male">Male</option>
                         <option value="male">Female</option>
                  </select>
            <div style="color:red;" class="errorMsg" *ngIf="userForm.get('gender').dirty && userForm.get('gender').hasError('required')">
              This is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label"></label>
        <div>
          <div class="input-group">
            <!--<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>-->
            <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="email" formControlName="email" />
            <div class="validation-errors">
              <div *ngFor="let validation of validation_messages.email">
                <div style="color:red;" class="error-message" *ngIf="userForm.get('email').hasError(validation.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <!--<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>-->
              <input type="text" class="form-control" [(ngModel)]="dateOfBirth" name="dateOfBirth" placeholder="dateOfBirth" formControlName="dateOfBirth"
              />
              <div style="color:red;" class="errorMsg" *ngIf="userForm.get('dateOfBirth').dirty && userForm.get('dateOfBirth').hasError('required')">
                This is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="cols-sm-10">
            <div class="input-group">
              <!--<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>-->
              <input type="number" class="form-control" [(ngModel)]="amount" name="amount" placeholder="Amount" formControlName="amount"
              />
              <div style="color:red;" class="errorMsg" *ngIf="userForm.get('amount').dirty && userForm.get('amount').hasError('required')">
                This is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="!status" type="submit" [disabled]="!userForm.valid" (click)="create_contact();" type="button" id="button"
          class="btn btn-primary" data-dismiss="modal">Save</button>
        <button *ngIf="status" type="submit" [disabled]="!userForm.valid" (click)="update();" type="button" id="button" class="btn btn-primary"
          data-dismiss="modal">update</button>
      </div>
    </form>
  </div>
  <table *ngIf="users?.length > 0" class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>D.O.B</th>
        <th>Amount
          </th>
           <th>
          </th>
           <th>
          </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td>{{user.amount}}</td>
        <td (click)="edit(user)">Edit</td>
        <td><span (click)="goTo(user?.id)">Contact Detail</span></td>
      </tr>
      </tbody>
  </table>

</div>