/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{font-family: 'Open Sans', sans-serif;}
.table.table-striped thead th {
    font-weight: 500;
    padding: 10px 10px;
    background-color: #000000;
    color: #fff;
}
.table.table-striped tbody th, .table.table-striped tbody td {
    display: table-cell;
    vertical-align: middle;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #41BC3F; color:#fff;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover .sideNavTextColor, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover i{color:#fff !important;}
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link i{padding-right:8px;}
.m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link {
    padding: 15px 15px;
}
.game-boxes-w{
    margin-top: 30px;
    border:1px dashed #f1f1f1;
    border-width: 2px;
    padding: 20px;
	background: #ffffff;
}
.game-boxes-bug .col-md-5{
    font-weight: 700;
    font-size: 14px;
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px 10px;
}
.game-boxes-bug .col-md-7 {
    display: flex;
    vertical-align: middle;
    align-items: center;
	margin: 12px 0;
}
.game-boxes-bug:nth-of-type(odd) {margin-right:15px;}
  .game-boxes-bug{  width: 48%;}

.game-boxes-w h4 {
    font-weight: 700;
    font-size: 14px;
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px 10px;
}
.game-boxes-w .col-sm-9 {
    display: flex;
    vertical-align: middle;
    align-items: center;
	margin: 12px 0;
}

.g-headings{
    background-color: #41BC3F;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    margin: 30px 0px 5px 0;
}
.img-max-100{height:100px;width: 100%;}
.language {
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    padding: 2px 7px;
    font-weight: bold;
}
.leftCol {
    position: fixed;
    width: 255px;
    overflow-y: scroll;
    top: 42px;
    bottom: 0;
}

